html,body{
    margin: 0%;
    padding: 0%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    min-height: 100%;
    position: relative;
}

#topBar{
    background-color: #00bfa5;
    height: 50px;;
    color: #fff;
    margin-top:0px;
}

#topBar h2{
    display: inline-block;
    padding-left: 5%;
    margin-top:0%;
    padding-top: 10px;
}

#topBar h4{
    padding-left: 5%;
    margin-top:0%;
    padding-top: 15px;
    float: right;
    padding-right: 15px;
}

#topBar h4 a{
    text-decoration: none;
    color: inherit;
}

#main{
    width: 80%;
    /* height: 500px; */
    margin-left: 5%;
    margin-top: 20px;
    border: 1px dotted #000;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    padding-bottom: 35px;
    margin-bottom: 50px;
}



#addItem input[type="submit"] {
    background-color: #00bfa5;
    color: #fff;
    width: 70px;
    border-style: none;
    height: 30px;
    margin-left: 5px;
}

#addItem input[type="text"] {
    height: 25px;
    width: 80%;
    padding-left: 20px;
}

#list h3{
    padding-left: 20px;
}

#list ul{
   border: 1px dotted #000;
   border-radius: 10px;
   width: 72%;
   margin-left: 20px;
   padding-left: 0px;
   /* height: 200px; */
   background-color: #eceff1;
    
}

#list li{
    list-style: none;
    padding: 5px;
    border-bottom: 1px dotted #000;
    padding-left: 20px;

}

#list li:last-child{
    border-bottom: none;
}

#list li a{
    text-decoration: none;
    color: #000
}

#list li a:last-child{
    float: right;
    text-decoration: underline;
    color:#000; 
    font-style: italic;
    padding-right: 5px;
}

#psudoDiv{
    height: 190px;
}

#footer{
    background-color: #00bfa5;
    color: #fff;
    height: 35px;
    /* position: fixed;
    bottom: 0;
    width: 100%; */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;

}

#footer p{
    font-size: 20px;
    text-align: center;
    margin-top: 7px;
    /* margin-top: 0; */
}

#note{
    line-height: 150%;
}

 #date p{
    float: right;
    font-size: 15px;
    
}

.line{
    width: 75%;
    margin-left: 0px;
}

.modify{
    padding-top: 20px;
}

.modify input[type="text"]{
    width: 60%;
    height: 25px;
    border-radius: 5px;
    border: 1px dotted #000;
    padding-left: 10px;
}

.modify textarea{
    max-width: 80%;
    min-width: 70%;
    min-height: 150px;
    max-height: 170px;
    border-radius: 5px;
    border: 1px dotted #000;
    padding-left: 10px;
    padding-top: 10px;
}

.modify input[type="submit"]{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

    background-color: #00bfa5;
    color: #fff;
    width: 70px;
    border-style: none;
    height: 30px;
}

.mainSign{
    border: 1px dotted #000;
    border-radius: 10px;
    width: 40%;
    height: 400px;
    margin-top: 30px;
    margin-left: 20%;
    padding-left: 16%;
    padding-top: 75px;
}

.mainSign h3{
    margin-left: 5%;
    max-width: 338px;
}

.mainSign input{
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: 1px dotted #000;
    padding-left: 10px;
    margin-bottom: 20px;
}

.mainSign input[type="submit"]{
    width: 25%;
    margin-left: 12%;
    background-color: #00bfa5;
    color: #fff;
}

.mainSign p small{
    padding-left: 10px;
}

.mainSign a{
    color: #000;
}

.mainSign a:hover{
    color: #00bfa5;
}

.mainSign label{
    width:90px;
    font-style: italic;
    display: inline-block;
}

#signUp{
    padding-left: 11%;
    height: 420px;
}

#signUp h3{
    padding-left: 15%;
}

#signUp input[type="submit"]{
    margin-left: 28%;
    margin-top: 6px;
}

/* @media(max-height: 700px){

    #psudoDiv{
        height: 500px;
    }
} */