{% extends "posts/base.html" %}
{% block main%}
<div id="main">
    <div class="modify">
        <form action="/posts/done" method="POST">
            {% csrf_token %}
            <input type="text" value="{{title}}" name="title">
            <hr class="line">
            <textarea name="content"></textarea>
            <input type="submit" value="Add">
        </form>
    </div>
    <div style="height: 20px;"></div>
</div>

<script>
    var Sout= document.getElementById("signout");
    Sout.style.display="none";
</script>
{% endblock%}