<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/main.css' %}" />
</head>
<body>
    <div id="container">
        <div id="topBar">
            <h2>List Items</h2>
            <h4 id="signout"><a href="/posts/signout">Sign Out</a></h4>
            <h4 id="secret"><a href="/posts/secret"> Secret Note</a></h4>
        </div>
        {% block main%}
            <!-- content goes here -->
        {% endblock %}
        <div id="psudoDiv" ></div>
        <footer id="footer"> <p>Made with &hearts;</p></footer>
    </div>
</body>
</html>