{% extends "posts/base.html"%}
{% block main %}
<div class="mainSign">
    <h3>Log In to check your notes</h3>
    <form action="index/" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username"> <br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="submit" value="Log In">
    </form>
    <p><small>Don't have an account? <a href="signup">Sign Up Now</a></small></p>
</div>

<script>
    var Sout= document.getElementById("signout");
    Sout.style.display="none";

    var secret= document.getElementById("secret");
    secret.style.display="none";
</script>
{% endblock %}