{% extends "posts/base.html" %}
{% block main %}
<div id="main">
    <div class="modify">
        <form action="/posts/secret" method="POST">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Title">
            <hr class="line">
            <textarea name="content" ></textarea>
            <input type="text" id="secretPass" name="password" placeholder="password for the secret Item">
            <input type="submit" value="Add">
        </form>
    </div>
    <div style="height: 20px;"></div>
</div>

<script>
    var Sout= document.getElementById("signout");
    Sout.style.display="none";

    var secret= document.getElementById("secret");
    secret.style.display="none";
</script>

<style>
    #footer ,#topBar, .modify input[type="submit"]{
        background-color: #CC0000;
    }

</style>
{% endblock%}