{% extends "posts/base.html" %}

{% block main %}

<div class="mainSign" id="signUp">
    <h3>Sign up to Create Notes</h3>
    <form action="signup" method="POST">
        {% csrf_token %}

        {{ form.firstname.errors }}
        <label for="{{form.firstname.id_for_label}}"> First Name: </label>
        {{form.firstname}} <br>

        {{form.lastname.errors}}
        <label for="{{form.lastname.id_for_label}}">Last Name:  </label>
        {{form.lastname}}<br>

        {{form.username.errors}}
        <label for="{{form.usename.id_for_label}}"> Username: </label>
        {{form.username}}<br>

        {{form.password.errors}}
        <label for="{{form.password.id_for_label}}"> Password: </label>
        {{form.password}}<br>

        <input type="submit" value="Sign Up">
    </form>
</div>

<script>
    var Sout= document.getElementById("signout");
    Sout.style.display="none";

    var secret= document.getElementById("secret");
    secret.style.display="none";
</script>

{% endblock %}